<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <p id="notice"><%= notice %></p>
    <h1>Listing Activities</h1>
  </div>


      <% @activities.each do |activity| %>
        <div class= "mdl-card mdl-cell mdl-cell--4-col">

            <div class="mdl-card__title">
              <%= activity.description %>
            </div>
            <div class="mdl-card__supporting-text">
              <%= activity.description %>
              <br/>
              <%= activity.category %>
            </div>
            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <%= link_to 'Show', organization_activity_path(@organization, activity), :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
              </button>
              <button class="mdl-button mdl-js-button mdl-button--raised">
              <%= link_to 'Edit', edit_organization_activity_path(@organization, activity), :class => "mdl-button mdl-js-button mdl-button--raised" %>
              </button>
              <button class="mdl-button mdl-js-button mdl-button--raised">
              <%= link_to 'Destroy', organization_activity_path(@organization, activity), method: :delete, data: { confirm: 'Are you sure?' }, :class => "mdl-button mdl-js-button mdl-button--raised" %>
              </button>

          </div>
        </div>
      <% end %>

</div>



<br>

<%= link_to  new_organization_activity_path, :class => "buttom-right-fixed mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do%>
    <i class="material-icons">add</i>
<% end %>
